body {
  background-color: #FFAFD4;
  margin-right: 265px;
  margin-left: 265px;
  margin-top:170px;
  margin-bottom: 150px;
}

h1 {
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
  color: #9C175C;
  text-align: center;
  vertical-align: middle;

}

ul {
  font-size: 200px
  color: #C54682;
  font-family: 'Varela Round', sans-serif;
  list-style-type: "\2740";
  line-height: 30px;
  margin-left: 300px;
}

a:link {
  color: #9C175C;
}

a:visited {
  color: #4A0C2C;
}

a:hover {
  color: #C54682;
}

a:active {
  color: #C54682;
}
