h1 {
  font-size: 90px;
  color: #7c5295;
  font-family: 'Grandstander', cursive;
  text-align: center;
  position:relative;
  bottom:-200px;
  vertical-align: bottom;
}

h2 {
  font-size: 50px;
  color: #663a82;
  font-family: 'Grandstander', cursive;
  text-align: center;
  position:relative;
  bottom:-150px;
  vertical-align: bottom;
}

p {
  font-size: 40px;
  color: #7c5295;
  font-family: 'Grandstander', cursive;
  text-align: center;
  position:relative;
  bottom:-300px;
  vertical-align:bottom;
}

body {
  background-color: #b399D4;
}

a:link {
  color: #7c5295;
}

a:visited {
  color: #7c5295;
}

a:hover {
  color: #663a82;
}

a:active {
  color: #7c5295;
}
