body {
  background-color: #FCF6A2;
  overflow-x: hidden;
  text-decoration: none;
}
main {
  margin: 100px auto;
}
h1 {
  font-family: balboa-plus-inline, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #FCF6A2;
  border: 1px solid #2E2E2E;
  width: 175px;
  height: 50px;
  font-size: 50px;
  margin: 20px auto;
}
h2 {
  color: #FCF6A2;
  font-family: helvetica;
  font-style: oblique;
  padding-top: 20px;
  margin-left: 20px;
}
p {
  font-family: helvetica;
  font-weight: lighter;
  color: white;
  margin: 20px;
}
ul {
  list-style-type: none;
  font-family: balboa-plus-inline, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-decoration: none;
}
a {
  text-decoration: none;
  padding-left: 35px;
  padding-bottom: 5px;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: #FCF6A2;
}
a:active {
  color: #FCF6A2;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: auto;
}
.navigation-bar {
    width: 110%;
    height: 115px;
    background-color: #2E2E2E;
    margin: -10px;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: auto;
    margin-right: 20px;
    margin-top: 15px;
    padding-left: 20px;
}
.navbox {
  float: left;
  background-color: #4B4B4B;
  padding: 10px;
  border: .5px solid lightgrey;
  width: 150px;
  height: 30px;
  margin: 20px;
  top: 0;
  right: 0;
  margin-top: 30px;
}
.navigation-bar > a {
  display: inline-block;
  vertical-align: top;
  margin-right: -20px;
  height: 80px;
  line-height: 80px;
}
.col {
  width: 650px;
  height: 500px;
  background-color: #2E2E2E;
}
main {
  width: 80vw;
  margin: 10px auto;
  display: flow-root;
}
h3 {
  margin-left: 50px auto;
  margin-right: 50px auto;
  font-family: helvetica;
  font-weight: lighter;
  color: #4B4B4B;
  margin: 20px;
}
