@media only screen and (max-width: 1000px) {
  .navbox {
    display: none;
  }
  h3 {
    margin: auto;
    padding: auto;
    width: 70vw;
  }
  .footer {
    display: none;
  }
}
body {
  background-color: #FCF6A2;
  overflow-x: hidden;
  max-width: 1440px;
}
/* headings */
h1 {
  font-family: balboa-plus-inline, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #FCF6A2;
  border: 1px solid #2E2E2E;
  width: 235px;
  height: 70px;
  font-size: 45px;
  margin: 75px auto;
  margin-bottom: 70px;
  padding-left: 80px;
  padding-top: 15px;
}
h2 {
  color: #FCF6A2;
  font-family: helvetica;
  font-style: oblique;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-left: 20px;
  text-align: center;
  margin: 15px auto;
}
h3 {
  margin-left: auto;
  margin-right: auto;
  font-family: helvetica;
  font-weight: lighter;
  color: #4B4B4B;
  margin: 20px;
  text-align: center;
  margin-bottom: 40px;
  position: absolute;
  top: 700px;
  padding-right: 150px;
}
h4 {
  font-family: balboa-plus-inline, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #FCF6A2;
  border: 1px solid #2E2E2E;
  width: 205px;
  height: 70px;
  font-size: 45px;
  margin: 75px auto;
  margin-bottom: -15px;
  padding-left: 110px;
  padding-top: 15px;
}
/* end headings */
p {
  font-family: helvetica;
  font-weight: lighter;
  color: white;
  margin: 50px;
  margin-top: -10px;
  float: right;
  display: inline-block;
  text-align: justify;
}
a {
  text-decoration: none;
  padding-left: 35px;
  padding-bottom: 5px;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: #FCF6A2;
}
a:active {
  color: #FCF6A2;
}
img {
  float: left;
  width:  50vw;
  height: 350px;
  object-fit: cover;
  display: inline-block;
  margin-bottom: 75px;
}
main {
  width: 80vw;
  margin: 10px auto;
  display: flow-root;
  max-width: 1440px;
}
/* navigation elements */
.navigation-bar {
  width: 100vw;
  height: 115px;
  background-color: #2E2E2E;
  margin: -10px;
  flex-direction: row;
  display: flex;
}
.logo {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  height: auto;
  margin-right: 170px;
  margin-top: 15px;
  padding-left: 20px;
}
.navbox {
  float: left;
  background-color: #4B4B4B;
  text-align: center;
  padding-right: 28px;
  padding-top: 5px;
  padding-bottom: 8px;
  border: .5px solid lightgrey;
  width: 140px;
  height: 30px;
  margin: 30px;
  margin-top: 35px;
  font-family: balboa-plus-inline, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-decoration: none;
}
/* end nav elements */
.col {
  width: 50vw;
  height: 570px;
  background-color: #2E2E2E;
  margin: 100px 210px auto;
  float: left;
  display: flow-root;
  margin-left: 15vw;
  margin-right: 15vw;
}
.footer {
  width: 100%;
  height: 25px;
  background-color: #2E2E2E;
  margin-left: auto;
  margin-right: auto;
  padding: -10px;
  margin-top: 75px;
  position: absolute;
  bottom: -170px;
  left: 0px;
}
.gallery img {
  width:  25vw;
  height: 300px;
  object-fit: cover;
  margin-bottom: 75px;
  max-width: 100%;
  margin-left: 2px;
  margin-right: 2px;
}
/* id */
#sights {
  float: left;
  background-color: #FCF6A2;
  text-align: center;
  padding-right: 25px;
  padding-top: 6px;
  padding-left: -3px;
  padding-bottom: 9px;
  border: 2px solid black;
  width: 143px;
  height: 30px;
  margin-top: -8px;
  margin-left: -1px;
}
#sights a:hover {
 color: lightgrey;
}
#sights a:link {
 color: #4B4B4B
}
#sights a:visited {
  color: black;
}
#sights a:active {
  color: black;
}
