* {
  box-sizing: border-box;
}
body {
  margin-right: -1px;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  overflow-x: hidden;
  background-color: black;
  opacity: .9;
}
main {
  margin: 10px;
}
.shape1 {
  background-color: magenta;
  width: 60px;
  height: 30px;
  margin: -5px;
  float: left;
  opacity: .5;
  transform: rotate(-20deg);
}
.shape2 {
  background-color: green;
  width: 60x;
  height: 30px;
  margin: -2px;
  float: left;
  opacity: 1;
  transform: rotate(20deg);
}
.shape3 {
  background-color: hotpink;
  width: 60px;
  height: 30px;
  margin: -5px;
  float: left;
  opacity: .8;
}
.shape4 {
  height: 50px;
   width: 50px;
   background-color: darkgreen;
   border-radius: 50%;
   display: inline-block;
   margin: -30px;
   float: left;
   opacity: .5;
}
.shape5 {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid blue;
  margin: -17px;
  float: left;
  opacity: .6;
}
.shape6 {
  width: 200px;
  height: 100px;
  background: red;
  border-radius: 100px / 50px;
  float: left;
  margin: -42px;
  opacity: .7;
}
.shape7 {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid orange;
  border-bottom: 50px solid transparent;
  float: left;
  margin: -4px;
  transform: rotate(5deg);
  opacity: .6;
}
.shape8 {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid hotpink;
  border-bottom: 50px solid transparent;
  margin: -100px;
  float: left;
  transform: rotate(75deg);
}
.shape9 {
  width: 250px;
  height: 200px;
  transform: skew(20deg);
  background: orange;
  float: left;
  margin: -202px;
  opacity: .3;
  transform: rotate(65deg);
}
.shape10 {
  width: 0;
  height: 0;
  border-top: 100px solid blue;
  border-left: 100px solid transparent;
  float: left;
  margin: -50px;
  transform: rotate(60deg);
  opacity: .4;
}
.shape11 {
  width: 0;
  height: 0;
  border-bottom: 200px solid cyan;
  border-right: 200px solid transparent;
  float: left;
  margin: -25px;
  transform: rotate(55deg);
  opacity: .9;
}
.shape12 {
  border-bottom: 50px solid lightgreen;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
  float: left;
  margin: -3px;
}
.shape13 {
  height: 50px;
  width: 100px;
  background-color: darkgreen;
  float: left;
  margin: -3px;
}
h1 {
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
  color: hotpink;
  text-align: center;
  vertical-align: middle;
  margin-top: 250px;
}
ul {
  font-size: 200px
  color: lightpink;
  font-family: 'Varela Round', sans-serif;
  list-style-type: "\2740";
  line-height: 30px;
  margin-left: 625px;
}
a:link {
  color: hotpink;
}
a:visited {
  color: lightpink;
}
a:hover {
  color: lightpink;
}
a:active {
  color: hotpink;
}
